[Unit]
Description=Clash Verge Rev
After=network.target

[Service]
ExecStart=/usr/bin/clash-verge
Environment=http_proxy=http://127.0.0.1:7897
Environment=https_proxy=http://127.0.0.1:7897
Environment=all_proxy=http://127.0.0.1:7897
StandardOutput=append:%h/.clash-verge.log
StandardError=append:%h/.clash-verge.log
Restart=on-failure

[Install]
WantedBy=default.target
